@{
    Layout = "_HomePage";
}



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="featProds"> Featured Products</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="productblock">
                <div class="panel-body"><img src="~/Images/assets/pet-sweep.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="productblock">
                <div class="panel-body"><img src="~/Images/assets/bag.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="productblock">
                <div class="panel-body"><img src="~/Images/assets/wine-glass.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
    </div>
</div>
