<H2>Welcome</H2>

<p>Navigate to the following links for functionality</p>

<p><a asp-controller="Author" asp-action="Create">Create an Author</a></p>

<p><a asp-controller="Book" asp-action="Create">Create a Book</a></p>

<p><a asp-controller="Author" asp-action="ViewAll">View all Authors</a></p>

<p><a asp-controller="Book" asp-action="ViewAll">View all Books</a></p>


