@model LendingLibraryExample.Models.Book
<!-- Need to display

The author details and all the books-->

<h1>Details</h1>

<h3>@Model.Title</h3>

<p>@Model.YearPublished</p>

<h2>Author: @Model.Author.Name</h2>
