@model IEnumerable<BusMall.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "_Clubhouse";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6" style="text-align: center;">
            <img style=" max-width:50%; margin: auto" src="~/Images/assets/mickey.gif" />
        </div>

        <div class="col-lg-6" >
          <span style="font-family: Cooper; text-align: center; color: red; font-size: 25px"> WELCOME</span> 

          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ligula sem. 
            Sed vel turpis et urna facilisis laoreet sed ac elit. Donec porttitor, augue vel 
            imperdiet efficitur, lectus risus rhoncus metus, facilisis rutrum ipsum magna sit amet 
            sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
            turpis egestas. Proin condimentum eros magna, vel facilisis lacus commodo et. Interdum 
            et malesuada fames ac ante ipsum primis in faucibus.</p>
        </div>


    </div>
</div>

<div class="container">

    @for (int i = 0; i < Model.Count(); i += 3)
    {
        <div class="row">
            @foreach (var item in Model.Skip(i).Take(3))
            {
                <div class="col-md-4">
                    <a href="@Html.DisplayFor(modelItem => item.Name)">
                        <img class="img-responsive" src="@item.Image" alt="">
                    </a>
                    <h3>
                        <a href="shop/details/@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                    </h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            }
        </div>
    }


    @*</div>*@

</div>

