@model Cohort4ECommerce.Models.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<h4> Create an Account</h4>

<form method="post">
    <div asp-validation-summary="All"></div>


    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>

    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>

    </div>

    <div>
        <label asp-for="Birthday"></label>
        <input asp-for="Birthday" />
        <span asp-validation-for="Birthday"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Register</button>

</form>