@model DemoClass13.Models.Author

<form method="post" form-action="Create">

    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <br />
    <br />

    <label asp-for="NumberOfBooks">Number Of Books: </label>
    <input asp-for="NumberOfBooks" />
    <br />
    <br />


    <label asp-for="HomeTown">Home Town:</label>
    <input asp-for="HomeTown" />
    <br />
    <br />

    <button type="submit">Create Author</button>

</form>